/* Text styles */
.xr_s0 {font-family:Arial;font-weight:normal;font-style:normal;font-size:12px;text-decoration:none;color:#FFFFFF;background-color:Transparent;letter-spacing:0em;}
.xr_s1 {font-family:'Arial Black';font-weight:900;font-style:normal;font-size:24px;text-decoration:none;color:#000000;background-color:Transparent;letter-spacing:0em;}
.xr_s2 {font-family:'Impact Regular';font-weight:normal;font-style:normal;font-size:28px;text-decoration:none;color:#FFFFFF;background-color:Transparent;letter-spacing:0em;}
